* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  height: 10vh;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,34,135,1) 0%, rgba(242,200,255,1) 100%);
}

.header--title-container {
  color: white;
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 3.5rem;
}

.header--icon {
  font-size: 2.7rem;
  padding-right: 0.3rem;
}

.header--title {
  letter-spacing: -1px;
}

.header--project-info {
  color: white;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.5rem;
  padding-right: 3.5rem;
}

.header--info-text {
  font-weight: 400;
}
